# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build/output (kalau ada)
dist/
build/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

sapabuaran-firebase-adminsdk-fbsvc-aa1a3ba89e.json
.vercel
.env*.local
